asgiref==3.4.1
astroid==2.8.3
awsebcli==3.20.2
botocore==1.21.65
cement==2.8.2
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.3
Django==3.2.8
django-mysql==3.8.1
djangorestframework==3.12.4
environ
future==0.16.0
idna==3.3
isort==5.9.3
jmespath==0.10.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mysqlclient==2.0.3
pathspec==0.5.9
platformdirs==2.4.0
pylint==2.11.1
pypiwin32==223
python-dateutil==2.8.2
python-decouple==3.5
pytz==2021.3
pywin32==302
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.1.9
wrapt==1.13.2
