<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Contacts DB</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item nav-link">Welcome, {{ user.username }}</li>
            <li class="nav-item"><a class="nav-link" href={% url 'admin:index' %}>Admin</a></li>
            <li class="nav-item"><a class="nav-link" href={% url 'api:api_contacts_list' %}>API</a></li>
            <li class="nav-item"><a class="nav-link" href={% url 'logout' %}>Logout</a></li>
        {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>