<!DOCTYPE html>
{% extends 'contacts/base.html' %}
{% load auth_extras %}
{% block content %}
    <h2>Welcome to Contacts!</h2>
    <div class="input-group">
      <input type="search" class="rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">search</button>
    </div>
    {% if contact_list %}
        <table class="table">
            <th>Record ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            {% if request.user|has_group:"Admin" or request.user.is_superuser %}
                <th>Action</th>
            {% endif %}
        {% for contact in contact_list %}
            <tr>
                <td> {{ contact.pk }}</td>
                <td>{{ contact.first_name }}</td>
                <td>{{ contact.last_name }}</td>
                <td>{{ contact.email }}</td>
                {% if request.user.is_superuser or request.user|has_group:"Admin" %}
                    <td><a class="btn btn-danger" href={% url 'contacts:delete_contact' pk=contact.pk%}>Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Contacts list is empty</p>
    {% endif %}
    {% if request.user|has_group:"Admin" or request.user|has_group:"Editor" or request.user.is_superuser  %}
        <p><a class="btn btn-primary" href={% url 'contacts:create_contact' %}>Create new contact</a></p>
    {% endif %}
{% endblock %}
