{% block pagination_list %}
{% if page_obj.has_other_pages %}
        <nav aria-label="page_nav" class="center-block">
            <p class="current">
                Total number of results: {{ filter.qs.count }}
            </p>
            <p class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </p>
        {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="page-link"
                                                                    href="?page={{ page_obj.number }}">{{ page_obj.number }}<span
                        class="sr-only">(current)</span></a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last
                        &raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </nav>
    {% endif %}

{% endblock %}