{% extends 'contacts/base.html' %}
{% load auth_extras %}
{% block content %}
    <h2>Pets</h2>
    <div class="input-group">
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
    </div>
    {% if filter.qs %}
        <table class="table">
            <th>Record ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Owner</th>
            {% for pet in page_obj %}
                <tr>
                    <td>{{ pet.pk }}</td>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.age }}</td>
                    <td>{{ pet.gender }}</td>
                    <td>{{ pet.owner }}</td>
                    {#                    {% if request.user.is_superuser or request.user|has_group:"Admin" %}#}
                    {#                        <td><a class="btn btn-danger" href={% url 'contacts:delete_contact' pk=contact.pk %}>Delete</a>#}
                    {#                        </td>#}
                    {#                    {% endif %}#}
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="page_nav" class="center-block">
            <p class="current">
                Total number of results: {{ filter.qs.count }}
            </p>
            <p class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </p>
        {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="page-link"
                                                                    href="?page={{ page_obj.number }}">{{ page_obj.number }}<span
                        class="sr-only">(current)</span></a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last
                        &raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </nav>
    {% else %}
        <p>No records match </p>
    {% endif %}

    {#    {% if request.user|has_group:"Admin" or request.user|has_group:"Editor" or request.user.is_superuser %}#}
    {#        <p><a class="btn btn-primary" href={% url 'contacts:create_contact' %}>Create new contact</a></p>#}
    {#    {% endif %}#}
{% endblock %}